{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <h1>About PDFEBC Web Interface</h1>
</div>
<div class="container">
<p>The PDFBEC Web Interface is an extension of <b>pdfebc-core</b>, which is an API for compressing
PDF files. Both are open source and can be found on GitHub, see the links below.</p>
<ul>
    <li><a href={{ pdfebc_core_github }}>pdfebc-core GitHub page</a></li>
    <li><a href={{ pdfebc_web_github }}>pdfebc-web GitHub page</a></li>
</ul>
</div>
{% endblock %}
